@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List";
}

@model IEnumerable<MovieFormModel>

<div>
    <p>Welcome. Below is the list of movies that have been entered:</p>

    <table class="table-bordered">
        <thead class="d-xl-table-row">
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent to</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr class="d-table-row">
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.Lentto</td>
                    <td>@x.Notes</td>
                </tr>

            }
        </tbody>
    </table>

</div>
